body,form{margin:0}
body,td,div{font-family:Arial;word-wrap:break-word;word-break:break-all;visibility:visible;visibility:visible !important;zoom:1;zoom:1 !important;filter:none;-moz-opacity:1}
td,div{font-size:12px;line-height:18px}
html body center,html body center #usrbar,html body center #ft,html body center #usrbar nobr,html body center #usrbar strong,html body center #usrbar a,html body center #usrbar a:link,html body center #usrbar a:visited,html body center #ft a,html body center #ft a:link,html body center #ft a:visited{max-width:none!important;min-width:none!important;layout-flow:horizontal!important;text-transform:none!important;direction:inherit!important;vertical-align:baseline!important;word-spacing:normal!important;font-variant:normal!important;text-decoration:none!important;font-size-adjust:none!important;font-family:Arial!important;font-size:12px!important;/*line-height:normal!important;*/border:none!important;background:none!important;background-image:none!important;overflow:visible!important;width:auto!important;clear:both!important;float:none!important;margin:0!important;position:static!important;visibility:visible!important;letter-spacing:normal!important;font-size:12px!important;font-family:Arial!important;zoom:1!important;filter:none!important;-moz-opacity:1!important}
html body center #usrbar,html body center #ft,html body center #usrbar nobr{display:block!important;height:19px!important;line-height:19px!important}
html body center #usrbar strong,html body center #usrbar a,html body center #usrbar a:link,html body center #usrbar a:visited,html body center #ft a,html body center #ft a:link,html body center #ft a:visited{display:inline!important;height:auto!important;text-decoration:underline!important}
html body center #usrbar strong{text-align:left!important;color:#000000!important;text-decoration:none!important}
html body center{display:block!important}
html body center #main,html body center #usrbar,html body center #ft{position:relative!important;top:auto!important;bottom:auto!important;left:auto!important;right:auto!important}
html body center #usrbar nobr{text-align:right!important;color:#000000!important}
html body center #usrbar{z-index:65530!important;padding:4px 10px 3px 0!important;background:#FFFFFF!important;color:#000000!important;text-align:right!important;filter:alpha(opacity=65)!important;-moz-opacity:0.5!important;width:auto!important}
html body center #usrbar a,html body center #usrbar a:link,html body center #usrbar a:visited{color:#0000CC!important}
html body center #ft{z-index:65534!important;color:#666666!important;text-align:center!important}
html body center #ft a,html body center #ft a:link,html body center #ft a:visited{color:#7777CC!important}
html body center #main{z-index:10000!important;padding:0 10px 0 10px;min-width:756px;max-width:1000px}
#header{position:relative}
#header div.lc{position:relative;height:100%;font-size:0}
#header div.rc{position:relative;right:0px;height:100%;font-size:0}
#header div.tit{position:absolute}
#header div.desc{position:absolute}
#tabline{position:absolute;width:100%;height:1px;line-height:1px;font-size:0px}
#tab{position:absolute;padding-left:10px;width:500px;height:22px;line-height:22px;width:99% !important;width:100%}
#tab a.on{float:left;padding:0px 10px 0px 12px;font-size:13px;font-weight:bold}
#tab span{float:left;font-size:13px}
#tab a{float:left;padding:0px 14px 0px 14px;font-size:13px}
#tab2{padding:1px 0 0 348px;height:23px;line-height:23px;font-size:12px;position:relative;}
#tab2 span{cursor:default}
.stage{padding-top:10px;width:100%;height:auto}
.stagepad{padding:0 10px 10px 10px}
.applytmp{height:43px;border-bottom:2px solid #CE0F0F;background:#FFFFE1}
#set_cs{position:absolute;z-index:65533;}
#set_cs table.actbar{margin-bottom:10px;height:70px;border:1px solid #E10602;background:#FFFFE1}
#set_cs div.panel{position:absolute;top:71px;width:100%}
#cscnt,#cslayout,#csbg{padding:15px;border:2px solid #EC4847;background:#FFFFFF;text-align:left}
#cscnt{width:800px}
#cslayout{width:620px}
#csbg{width:520px}
.f12{font-size:12px}
.f14{font-size:14px}
#layout{table-layout:fixed}
#m_blog div.cnt,#m_albumlist div.desc,#m_blog div.tit,#m_artclg div.item,#m_comment div.item,#m_links div.item,#m_cang div.item,#m_album div.image,#m_links div.item,#in_comment div.desc,#m_friblog div.item{overflow:hidden}
#m_blog div.cnt{word-break:normal;overflow:hidden;position:relative !important;position:static}
#m_blog div.cnt font{line-height:normal}
#m_blog div.cnt *{line-height:normal}
#m_blog table{table-layout:auto!important;table-layout:auto}
#in_comment div.tit,#in_send div.tit,#in_reader div.tit{text-align:left}

#usrbar_popup,#usrbar_popup nobr,#usrbar_popup strong,#usrbar_popup a,#usrbar_popup a:link,#usrbar_popup a:visited{max-width:none!important;min-width:none!important;layout-flow:horizontal!important;text-transform:none!important;direction:inherit!important;vertical-align:baseline!important;word-spacing:normal!important;font-variant:normal!important;text-decoration:none!important;font-size-adjust:none!important;font-family:Arial!important;font-size:12px!important;line-height:normal!important;border:none!important;background:none!important;background-image:none!important;overflow:visible!important;width:auto!important;clear:both!important;float:none!important;margin:0!important;position:static!important;visibility:visible!important;letter-spacing:normal!important;font-size:12px!important;font-family:Arial!important;zoom:1!important;filter:none!important;-moz-opacity:1!important}
#usrbar_popup,#usrbar_popup nobr{display:block!important;height:19px!important;line-height:19px!important}
#usrbar_popup strong,#usrbar_popup a,#usrbar_popup a:link,#usrbar_popup a:visited{display:inline!important;height:auto!important;text-decoration:underline!important}
#usrbar_popup strong{text-align:left!important;color:#000000!important;text-decoration:none!important}
#usrbar_popup{position:relative!important;top:auto!important;bottom:auto!important;left:auto!important;right:auto!important;padding:4px 10px 3px 0!important;background:#FFFFFF!important;color:#000000!important;text-align:right!important;filter:alpha(opacity=65)!important;-moz-opacity:0.5!important;width:auto!important}
#usrbar_popup nobr{text-align:right!important;color:#000000!important}
#usrbar_popup a,#usrbar_popup a:link,#usrbar_popup a:visited{color:#0000CC!important}
#usrbar_popup #my_home_container { padding-bottom:2px; padding-left:5px; padding-right:5px; }

/*日历*/
#cals{background-color:#FFFFFF;border:1px solid #CCC;text-align:center;width:100%;padding:2px}
#cals .cal_body,#cals .cal_mth{font-family:Arial;font-size:12px;width:100%;}
#cals .cal_yr td{font-size:12px;background:none;padding:1px;white-space:nowrap;line-height:15px}
#cals .cal_yr .cal_pre{font-size:8px;background:url(http://img.baidu.com/hi/img/date/pre.gif) no-repeat center center;padding-left:10px}
#cals .cal_yr .cal_nxt{font-size:8px;background:url(http://img.baidu.com/hi/img/date/nxt.gif) no-repeat center center;padding-left:10px}
#cals .cal_yr .cal_pre_ovr{font-size:8px;background:url(http://img.baidu.com/hi/img/date/pre_ovr.gif) no-repeat center center;padding-left:10px;cursor:pointer}
#cals .cal_yr .cal_nxt_ovr{font-size:8px;background:url(http://img.baidu.com/hi/img/date/nxt_ovr.gif) no-repeat center center;padding-left:10px;cursor:pointer}
#cals .cal_yr table{width:30px}
#cals tr{}
#cals td{text-align:center;font-family:Arial;font-size:12px;padding:3px;line-height:14px;white-space:nowrap}
#cals .today{padding:2px;border:1px solid #fca93f;background:#fff4cc;font-weight:bold;}
#cals .cal_week td{font-weight:bold;font-size:12px;font-family:Tahoma}
#cals .mth_ctrl{color:#000000}
#cals .cal_date{color:#000000}
#cals .cal_sa{color:#000066}
#cals .cal_su{color:#000066}
#cals .not_come{color:#333}
#cals .cal_before,#cals .cal_after{visibility:hidden}
#cals *.cal_active{color:#0000CC;text-decoration:underline;font-weight:bold;}
#cals *.cal_select{padding:2px;border:1px solid #d6d6d6;background-color:#eeeeee;color:#0000cc;text-decoration:underline}
#cals *.disable{color:#999;text-decoration:none}
#cals .yr_normal,#cals .mth_normal{border:1px solid #FFF;line-height:14px;}
#cals .yr_sel,#cals .mth_sel{border:1px solid #ffad42;background:#ffec93;padding:0;line-height:14px;cursor:pointer}
#cals .yr_sel .cal_arrow,#cals .mth_sel .cal_arrow{display:none}
#cals .yr_normal .cal_arrow,#cals .mth_normal .cal_arrow{display:none}
#cals .cal_roll{border:1px solid #ff9000;background:#fef3c1;position:absolute;display:none;font-size:12px;font-family:Arial;line-height:18px}
#cals .cal_roll .normal{background:none;}
#cals .cal_roll .msover{background:#f5e182;cursor:pointer;}
#cals .cal_pop{position:absolute;display:none}
#cals .cal_pp_arw{position:relative;left:10%;top:1px;background:url(http://img.baidu.com/hi/img/date/poparrow.gif) no-repeat;line-h
eight:6px;display:none}
#cals .cal_pp_cnt{padding:3px;margin-right:20px;font-size:12px;font-family:Arial;white-space:nowrap;border:1px solid #666;background:url(http://img.baidu.com/hi/img/date/popbg.gif);}
#cals .cal_rng{}
#cals .cal_rng td{background:none;font-size:12px;}
#spVerifyKey,#spVerifyKey input{ime-mode:disabled;}

/*版权*/
#ft{clear:both;height:20px;line-height:20px;color:#666666;font-size:12px;font-family:Arial;text-align:center}
#ft a,#ft a:link,#ft a:visited{color:#7777CC;text-decoration:underline}


/***userbar***/
.userbar{height:30px; background:url(http://img.baidu.com/hi/img/ihome/nav_bg.gif) repeat-x;}
.userbar *{margin:0; padding:0; list-style:none;}
/*导航*/
#nav{height:30px;line-height:30px; padding-left:20px; width:970px; margin:0 auto; }
#nav .logo{float:left; margin-top:4px;}
#nav .topmenu{margin-left:130px;}
#nav li{float:left; margin:0 10px; _display:inline;}
#nav li a, #nav li a:link{display:block; width:70px; font-size:14px; text-align:center; font-family:微软雅黑,宋体; color:#000 !important;}
#nav li a:visited{text-decoration:none; color:#000 !important;} 
#nav li a:hover{text-decoration:underline; color:#000 !important;} 

#nav li a.on{font-weight:bold; color:#000; background:url(http://img.baidu.com/hi/img/ihome/nav_on2.gif) no-repeat center center;}
#nav .manage{float:right;  color:#666666; line-height:30px; }
#nav .manage a, #nav .manage a:link, #nav .manage a:visited{ text-decoration:underline; color:#333 !important; padding:0 5px;font-size:12px  !important; *padding:0 3px;}
#nav .manage span{padding:0 10px;}
#nav .manage dt,#nav .manage dd{float:left;}
#nav .manage dt{padding:0px 10px;}

#nav li.vline{margin:6px 0;border-left:1px dotted #C6C5C9; height:18px; line-height:0;}

#nav .manage form{display:inline; zoom:1;}
#nav .manage form *{font-family:宋体 !important;}
#nav .manage input{width:90px; height:22px; line-height:22px; border:1px solid #C9C9C9; vertical-align:middle; padding:1px 0;}
#nav .manage input.hasuser{background-color:#FBFBFB;}

#nav .manage .loginlink, #nav .manage .loginlink:link, #nav .manage .loginlink:visited{width:49px; height:22px; text-decoration:none; padding:0;  line-height:22px; background:url(http://img.baidu.com/hi/img/ihome/login_btn.gif) no-repeat; display:inline-block; padding:0; text-align:center; text-decoration:none;}

#nav .manage .loginlink:hover{background-position:-51px 0; text-decoration:none; padding:0; text-decoration:none;}


#nav .manage .reglink{color:#f00 !important;}

#nav #topMsgLi{position:relative; z-index:65535;}
#nav .msglist{position:absolute; z-index:65000; top:30px; left:0; width:130px; border:1px solid #BFBFBF; border-width:1px 2px 2px 1px; background-color:#fff;}
#nav .msglist .icon1{background:url(http://img.baidu.com/hi/spnote/msgicon.gif) no-repeat 0 5px; }
#nav .msglist .icon2{background:url(http://img.baidu.com/hi/spnote/msgicon.gif) no-repeat 0 -18px; }
#nav .msglist .icon3{background:url(http://img.baidu.com/hi/spnote/msgicon.gif) no-repeat 0 -38px; }

#nav .msglist div{line-height:25px; height:25px; padding-left:18px; margin:0 10px; cursor:pointer; font-size:12px; font-weight:normal; }
#nav .msglist div a{font-size:12px; font-weight:normal; }
#nav .msglist div a:hover{text-decoration:none;}

#nav .msglist .line{border-top:1px solid #EEEEEE; height:0px; line-height:0px; font-size:0px;}


/*顶部气泡*/
#tip { position:absolute; padding-top:12px; width:240px; /* left:680px; top:16px; */ z-index:65534; }
#tip #arrow { position:absolute; top:7px; right:50px; }

#tip #container .header,
#tip #container .wrapper{ background-image:url(http://img.baidu.com/hi/img/mfu/tip-bg.gif);}
#tip #container .header { background-position:center top; height:8px; line-height:8px; font-size:1px;  }
#tip #container .wrapper{ background-position:bottom center; position:relative; }
#tip #container .close  { top:6px; right:16px; position:absolute; cursor:pointer; }

#tip #container .main   { background-image:url(http://img.baidu.com/hi/img/mfu/tip-logo.gif); background-position:15px 5px; background-repeat:no-repeat; padding:10px; padding-left:60px; text-align:left; }
#tip #container .title  { font-weight:bold; padding-top:0px; overflow:hidden; color:#000; }
#tip #container .content{ color:#000; }
#tip #container .more-action { text-align:right; padding-right:5px; padding-bottom:3px; }
#tip #container .more-action a { color:#0000CC !important; text-decoration:underline !important; }

.badgeTip{
	position:relative;
}
.badgeTip_bg{
	background-image:url(http://img.baidu.com/hi/img/regist/oldactv/badgeLayer.png);/*IE7,FF*/
	_background:none;/*IE6*/
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='crop', src="http://img.baidu.com/hi/img/regist/oldactv/badgeLayer.png");/*IE6*/
	width:227px;
	height:169px;
	overflow:hidden;
	text-align:right;
}
.badgeTip_link{
	position:absolute;
	left:130px;
	top:143px;;
}
.badgeTip_link a{font-size:12px;}
.badgeTip a:link {
	text-decoration:underline;	
}
.badgeTip a:hover {
	background:none;
}


#nav .manage .active{
	width:66px;
	height:23px;
	margin-top:3px;
}
#nav .manage .active a{
		background:transparent;
		color:#fff!important;
		text-decoration:none!important;
		padding:0px;
}
#nav .manage .active a img{
	border:none;
}
#nav .manage .active a:link,#nav  .active a:hover{
		color:#fff!important;
		text-decoration:none;
}
.activeTip{
	position:relative;
}
.activeTip_bg{
	background:url(http://img.baidu.com/hi/img/regist/oldactv/activeTip1.png);/*IE7,FF*/
	_background:none;/*IE6*/
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='crop', src="http://img.baidu.com/hi/img/regist/oldactv/activeTip1.png");/*IE6*/
	height:119px;
	overflow:hidden;
	text-align:right;
	width:222px;
}
.activeTip_close{
	background-image:url(http://img.baidu.com/hi/img/regist/oldactv/close.gif);
	left:202px;
	position:absolute;
	top:14px;
	width:12px;
	height:12px;
	cursor:pointer;
	overflow:hidden;
}
.activeTip_link{
	font-size:12px!important;
	left:120px;
	position:absolute;
	top:70px;

}
.activeTip_link a{
	color:#e30500!important;
}
.activeTip a:link {
	text-decoration:underline;	
	color:#e30500!important;
}
.activeTip a:hover {
	background:none;
}

